version: '3.0'
services:
  morqa:
    image: mysteriumnetwork/quality-oracle:latest
    command: >
      --bind-addr=:8085
      --prometheus=http://prometheus:9090
      --metrics-addr=:8080
    depends_on:
      - prometheus
    expose:
      - 8085
      - 8080

  prometheus:
    image: prom/prometheus:v2.10.0
    volumes:
      - ./e2e/prometheus:/prometheus
    command:
      - '--config.file=/prometheus/prometheus-local.yml'
      - '--storage.tsdb.path=/data'
    expose:
      - 9090

  ipify:
    image: owlab/ipify
    expose:
      - 3000

  broker-real:
    image: nats:1.0.4
    expose:
      - 4222

  broker:
    image: mysteriumnetwork/nats-proxy:1.0.1
    depends_on:
      - broker-real
    command:
      - '-target=broker-real:4222'
      - '-allow-unsigned'
    expose:
      - 4222

  db:
    image: postgres:13-alpine
    container_name: discovery_db
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=discovery
      - POSTGRES_DB=discovery
      - POSTGRES_PASSWORD=discovery
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  discovery:
    image: mysteriumnetwork/discovery:2.18.3
    depends_on:
      - db
      - http-mock
    expose:
      - 8080
    cap_add:
      - NET_ADMIN
    sysctls:
      - net.ipv4.conf.default.rp_filter=0
      - net.ipv4.conf.all.rp_filter=0
      - net.ipv4.conf.eth0.rp_filter=0
      - net.ipv4.conf.eth1.rp_filter=0
    environment:
      - PORT=8080
      - DB_DSN=postgresql://discovery:discovery@db:5432/discovery
      - QUALITY_ORACLE_URL=http://morqa:8085
      - BROKER_URL=broker
      - GECKO_URL=http://http-mock:1080/gecko
      - COINRANKING_URL=http://http-mock:1080/gecko
      - COINRANKING_TOKEN=suchtoken
      - UNIVERSE_JWT_SECRET=suchsecret

  #private blockchain
  ganache:
    image: trufflesuite/ganache-cli:v6.8.1-beta.0
    expose:
      - 8545
    command: >
      --mnemonic "amused glory pen avocado toilet dragon entry kitchen cliff retreat canyon danger"

  transactor:
    image: mysteriumnetwork/transactor:0.4.5
    environment:
      PORT: 8888
    expose:
      - 8888
    depends_on:
      - ganache
      - mongodb
    command: >
      -settlemntFee 1000
      -topUpAmount 7000000000000000000
      -stakeDecreaseFee 1
      -mystSCAddress 0xaa9c4e723609cb913430143fbc86d3cbe7adca21
      -rpcEndpoint http://ganache:8545
      -registry 0xbe180c8CA53F280C7BE8669596fF7939d933AA10
      -ourIdentity 0x354bd098b4ef8c9e70b7f21be2d455df559705d7
      -chImplementation 0x599d43715DF3070f83355D9D90AE62c159E62A75
      -balanceCheckInterval 1s
      -MongoUser transactor
      -MongoPass transactor
      -MongoHost mongodb:27017
      -MongoReplSet ""
    volumes:
      - ./e2e/blockchain/keystore:/keystore

  hermes:
    image: mysteriumnetwork/hermes:v3-dev
    environment:
      PORT: 8889
    expose:
      - 8889
    depends_on:
      - ganache
      - redis
      - mongodb
    command: >
      -identityPassphrase ""
      -myst 0xaa9c4e723609cb913430143fbc86d3cbe7adca21
      -rpcEndpoint http://ganache:8545
      -registry 0xbe180c8CA53F280C7BE8669596fF7939d933AA10
      -operator 0x354bd098b4ef8c9e70b7f21be2d455df559705d7
      -chImplementation 0x599d43715DF3070f83355D9D90AE62c159E62A75
      -keystoreDir /keystore
      -hermesAddress 0x427c2bad22335710aec5e477f3e3adcd313a9bcb
      -bcDataRefreshInterval 1ns
      -MongoUser hermes
      -MongoPass hermes
      -MongoHost "mongodb:27017"
      -MongoDatabase hermes
      -MongoReplSet ""
      -redisAddress "redis:6379"
    volumes:
      - ./e2e/blockchain/keystore:/keystore


  mongodb:
    image: 'mongo:4.2.3'
    environment:
      - MONGO_INITDB_ROOT_PASSWORD=root
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_DATABASE=hermes
      - MONGO_NON_ROOT_USERNAME=hermes
      - MONGO_NON_ROOT_PASSWORD=hermes
    expose:
      - 27017
      - 27018
      - 27019
    volumes:
      - ./e2e/mongo-init.e2e.js:/docker-entrypoint-initdb.d/mongo-init.js:ro


  myst-provider:
    image: mysteriumnetwork/myst:0.19.1-alpine
    depends_on:
      - broker
      - discovery
      - ipify
      - transactor
      - hermes
      - morqa
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun
    expose:
      - 1194
      - 4050
    volumes:
      - ./e2e/myst-provider/keystore:/var/lib/mysterium-node/keystore
    command: >
      --discovery.ping=1s
      --discovery.fetch=1s
      --payments.mystscaddress=0xaa9c4e723609cb913430143fbc86d3cbe7adca21
      --ip-detector=http://ipify:3000/?format=json
      --location.type=manual
      --location.country=e2e-land
      --firewall.protected.networks=""
      --broker-address=broker
      --tequilapi.address=0.0.0.0
      --discovery.address=http://discovery:8080/api/v4
      --ether.client.rpc=http://ganache:8545
      --transactor.registry-address=0xbe180c8CA53F280C7BE8669596fF7939d933AA10
      --transactor.channel-implementation=0x599d43715DF3070f83355D9D90AE62c159E62A75
      --hermes.hermes-id=0xf2e2c77D2e7207d8341106E6EfA469d1940FD0d8
      --transactor.address=http://transactor:8888/api/v1
      --keystore.lightweight
      --log-level=debug
      --quality.address=http://morqa:8085/api/v3
      --payments.provider.invoice-frequency=1s
      --stun-servers=""
      service
      --agreed-terms-and-conditions
      --identity=0xd1a23227bd5ad77f36ba62badcb78a410a1db6c5
      --identity.passphrase=localprovider
      --openvpn.port=3000
      --active-services=openvpn,noop,wireguard

  myst-consumer:
    image: mysteriumnetwork/myst:0.19.1-alpine
    depends_on:
      - broker
      - discovery
      - ipify
      - transactor
      - hermes
      - myst-provider
      - morqa
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun
    expose:
      - 4050
    command: >
      --discovery.ping=1s
      --discovery.fetch=1s
      --payments.mystscaddress=0xaa9c4e723609cb913430143fbc86d3cbe7adca21
      --transactor.registry-address=0xbe180c8CA53F280C7BE8669596fF7939d933AA10
      --hermes.hermes-id=0xf2e2c77D2e7207d8341106E6EfA469d1940FD0d8
      --transactor.address=http://transactor:8888/api/v1
      --transactor.channel-implementation=0x599d43715DF3070f83355D9D90AE62c159E62A75
      --ip-detector=http://ipify:3000/?format=json
      --location.type=manual
      --log-level=debug
      --broker-address=broker
      --tequilapi.address=0.0.0.0
      --discovery.address=http://discovery:8080/api/v4
      --ether.client.rpc=http://ganache:8545
      --keystore.lightweight
      --firewall.killSwitch.always
      --quality.address=http://morqa:8085/api/v3
      --stun-servers=""
      daemon

  myst-provider-local:
    build:
      context: .
      dockerfile: ./bin/docker/alpine-prebuilt/Dockerfile
    depends_on:
      - broker
      - discovery
      - ipify
      - transactor
      - hermes
      - morqa
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun
    expose:
      - 1194
      - 4050
    volumes:
      - ./e2e/myst-provider/keystore:/var/lib/mysterium-node/keystore
    command: >
      --discovery.ping=1s
      --discovery.fetch=1s
      --payments.mystscaddress=0xaa9c4e723609cb913430143fbc86d3cbe7adca21
      --ip-detector=http://ipify:3000/?format=json
      --location.type=manual
      --location.country=e2e-land
      --firewall.protected.networks=""
      --broker-address=broker
      --discovery.address=http://discovery:8080/api/v4
      --ether.client.rpc=http://ganache:8545
      --transactor.registry-address=0xbe180c8CA53F280C7BE8669596fF7939d933AA10
      --transactor.channel-implementation=0x599d43715DF3070f83355D9D90AE62c159E62A75
      --hermes.hermes-id=0xf2e2c77D2e7207d8341106E6EfA469d1940FD0d8
      --transactor.address=http://transactor:8888/api/v1
      --keystore.lightweight
      --log-level=debug
      --quality.address=http://morqa:8085/api/v3
      --stun-servers=""
      service
      --agreed-terms-and-conditions
      --identity=0xd1a23227bd5ad77f36ba62badcb78a410a1db6c5
      --identity.passphrase=localprovider
      --openvpn.port=3000
      --active-services=openvpn,noop,wireguard

  myst-consumer-local:
    build:
      context: .
      dockerfile: ./bin/docker/alpine-prebuilt/Dockerfile
    depends_on:
      - broker
      - discovery
      - ipify
      - transactor
      - hermes
      - myst-provider
      - morqa
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun
    expose:
      - 4050
    command: >
      --discovery.ping=1s
      --discovery.fetch=1s
      --payments.mystscaddress=0xaa9c4e723609cb913430143fbc86d3cbe7adca21
      --transactor.registry-address=0xbe180c8CA53F280C7BE8669596fF7939d933AA10
      --hermes.hermes-id=0xf2e2c77D2e7207d8341106E6EfA469d1940FD0d8
      --transactor.address=http://transactor:8888/api/v1
      --transactor.channel-implementation=0x599d43715DF3070f83355D9D90AE62c159E62A75
      --ip-detector=http://ipify:3000/?format=json
      --location.type=manual
      --log-level=debug
      --broker-address=broker
      --discovery.address=http://discovery:8080/api/v4
      --ether.client.rpc=http://ganache:8545
      --keystore.lightweight
      --firewall.killSwitch.always
      --quality.address=http://morqa:8085/api/v3
      --stun-servers=""
      --local-service-discovery=true
      daemon

  #go runner to run go programs inside localnet (usefull for contract deployment or e2e test running)
  go-runner:
    build:
      context: .
      dockerfile: ./e2e/gorunner/Dockerfile.precompiled
    cap_add:
      - NET_ADMIN
    volumes:
      - ./e2e/blockchain/keystore:/node/keystore
    working_dir: /node
