version: '3'
services:

  node:
    build:
      context: ../..
      dockerfile: bin/server_docker/alpine/Dockerfile
    depends_on:
      - broker
      - discovery
      - ipify
    cap_add:
      - NET_ADMIN
    expose:
      - 1194
    command: >
      --ipify-url=http://ipify:3000
      --broker-address=broker
      --discovery-address=http://discovery/v1
      --location.country=e2e-land
      --openvpn.port=3000
    environment:
      - AGREED_TERMS_AND_CONDITIONS=04-06-2018

  client:
    build:
      context: ../..
      dockerfile: bin/client_docker/alpine/Dockerfile
    depends_on:
      - broker
      - node
      - discovery
      - ipify
    cap_add:
      - NET_ADMIN
    ports:
      - 4052:4050
    command: "--ipify-url=http://ipify:3000 --discovery-address=http://discovery/v1"

  #'external' IP detection
  ipify:
    image: owlab/ipify
    expose:
    - 3000
