version: '3'
services:

  myst-provider:
    build:
      context: ../..
      dockerfile: bin/docker/alpine/Dockerfile
    depends_on:
      - broker
      - mysterium-api
      - ipify
      - transactor
    cap_add:
      - NET_ADMIN
    expose:
      - 1194
      - 4050
    volumes:
      - ../../e2e/myst-provider/keystore:/var/lib/mysterium-node/keystore
    command: >
      --ip-detector=http://ipify:3000/?format=json
      --location.type=manual
      --location.country=e2e-land
      --experiment-identity-check
      --localnet
      --broker-address=broker
      --api.address=http://mysterium-api:8001/v1
      --ether.client.rpc=ws://ganache:8545
      --transactor.registry-address=0x241F6e1d0bB17f45767DC60A6Bd3D21Cdb543a0c
      --transactor.channel-implementation=0xAA9C4E723609Cb913430143fbc86D3CBe7ADCa21
      --accountant.accountant-id=0x676b9a084aC11CEeF680AF6FFbE99b24106F47e7
      --transactor.address=http://transactor:8888/api/v1
      --ether.contract.payments=0x241F6e1d0bB17f45767DC60A6Bd3D21Cdb543a0c
      --keystore.lightweight
      service openvpn,noop,wireguard
      --agreed-terms-and-conditions
      --identity=0xd1a23227bd5ad77f36ba62badcb78a410a1db6c5
      --identity.passphrase=localprovider
      --openvpn.port=3000

  myst-consumer:
    build:
      context: ../..
      dockerfile: bin/docker/alpine/Dockerfile
    depends_on:
      - broker
      - mysterium-api
      - ipify
      - transactor
    cap_add:
      - NET_ADMIN
    expose:
      - 4050
    command: >
      --transactor.registry-address=0x241F6e1d0bB17f45767DC60A6Bd3D21Cdb543a0c
      --accountant.accountant-id=0x676b9a084aC11CEeF680AF6FFbE99b24106F47e7
      --transactor.address=http://transactor:8888/api/v1
      --transactor.channel-implementation=0xAA9C4E723609Cb913430143fbc86D3CBe7ADCa21
      --ether.contract.payments=0x241F6e1d0bB17f45767DC60A6Bd3D21Cdb543a0c
      --ip-detector=http://ipify:3000/?format=json
      --experiment-identity-check
      --localnet
      --api.address=http://mysterium-api:8001/v1
      --ether.client.rpc=ws://ganache:8545
      --keystore.lightweight
      --firewall.killSwitch.always
      daemon

  #'external' IP detection
  ipify:
    image: owlab/ipify
    expose:
    - 3000
